<a href="#" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{house?.name}}</h5>
  <p class="font-normal text-gray-700 dark:text-gray-400">{{house?.state}}</p>
  <p class="font-normal text-gray-700 dark:text-gray-400">{{house?.city}}</p>
  <img [src]="house?.photo" alt="house photo">
  
  <button 
    type="button" 
    (click)="onDeleteLocation(house!.id)"
    class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Delete</button>
</a>
